<nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="/home"
       routerLinkActive="active" #rla="routerLinkActive"
       [active]="rla.isActive">
      Home
    </a>
    <a mat-tab-link
       routerLink="/user"
       routerLinkActive="active" #rlb="routerLinkActive"
       [active]="rlb.isActive">
      List Users
    </a>
    <a mat-tab-link
       routerLink="/createuser"
       routerLinkActive="active" #rlc="routerLinkActive"
       [active]="rlc.isActive">
      Create Users
    </a>
  </nav>

<router-outlet></router-outlet>
